<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :project_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :project_description %>
  </div>

  <div class="field">
    <%= form.label :short_description %>
    <%= form.text_area :short_description, id: :project_short_description %>
  </div>

  <div class="field">
    <%= form.label :homepage_feature %>
    <%= form.check_box :homepage_feature, id: :project_homepage_feature %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
