<p id="notice"><%= notice %></p>

<h1>Motion Projects</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @motion_projects.each do |motion_project| %>
      <tr>
        <td><%= link_to 'Show', motion_project %></td>
        <td><%= link_to 'Edit', edit_motion_project_path(motion_project) %></td>
        <td><%= link_to 'Destroy', motion_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Motion Project', new_motion_project_path %>
